<h1>Artworks#show</h1>
<p>Find me in app/views/artworks/show.html.erb</p>



<%= form_tag lists_path do %>
  <%= hidden_field_tag :artwork_id, @artwork.id %>
  <%= submit_tag "Add this to your list" %>
<% end %>
